<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>demo</title>
</head>
<body>
<div>
    <form method="post">
        <div>
            <h3>题目1： 1 + 1 = ？</h3>
            <input name="q1" id="q1" required>
            <br>
            <h3>题目2： 你就读的学校名字是？</h3>
            <input name="q2" id="q2" required>
            <br>
            <h3>题目3： 中国的首都是？</h3>
            <input name="q3" id="q3" required>
            <input type="submit" value="Log In">
        </div>
    </form>
</div>
</body>
</html>